@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Open Sans', sans-serif;
}
/* theme */
:root {
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.50');

  --primary-dark: theme('colors.amber.400');
  --primary-medium: theme('colors.gray.600');
  --primary-light: theme('colors.gray.900');
}

[data-theme='dark'] {
  --background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.700');

  --primary-dark: theme('colors.teal.300');
  --primary-medium: theme('colors.gray.400');
  --primary-light: theme('colors.gray.200');
}

[data-theme='emerald'] {
  --background: theme('colors.yellow.800');
  --background-secondary: theme('colors.gray.200');

  --primary-dark: theme('colors.yellow.800');
  --primary-medium: theme('colors.gray.600');
  --primary-light: theme('colors.gray.900');
}

[data-theme='pink'] {
  --background: theme('colors.lime.800');
  --background-secondary: theme('colors.gray.200');

  --primary-dark: theme('colors.lime.800');
  --primary-medium: theme('colors.gray.600');
  --primary-light: theme('colors.gray.800');
}
/* theme */



.light-300{
    font-weight:300 ;
    font-size: 1.6rem;
    letter-spacing: 1px;
}
.light-400{

    font-size: 1.6rem;
    letter-spacing: 1px;
}
.light-600{
    font-weight:600 ;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.light-700{
    font-weight:700 ;
    /* font-size: 1.6rem; */
    letter-spacing: 1px;
    
}


/* overlay */
.container {
  position: relative;
  width: 384px; 
  height: 224px;
}

.video{
  opacity: 1;
  display: flex;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

  

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  
  
.container:hover .video {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: hsl(39, 95%, 34%);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
   
/* button contact */
.box-3 { background-color: rgb(251 191 36);
width: 40%;
margin-bottom: 20px;
border-radius: 10px;

}
.box-3:hover{
  background-color:white;
}
.box-3:hover .btn-three{
  color: black;
}

.bttn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.btn-three {
  /* color: #FFF; */
  color: black;
  transition: all 0.5s;
  position: relative;
  
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(241, 146, 14, 0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgba(7, 7, 7, 0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
/* button contact */

/* click me button */

.hover-me{
  display: block;
  width: 30px;
  height: 50px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.hover-me span{
  position: relative;
  z-index: 2;
}

.hover-me:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background: rgb(251 191 36); */
  background: var(--primary-dark);
  transition: all .35s;
}

.hover-me:hover{
  color: #fff;
}

.hover-me:hover:after{
  width: 100%;
}
/* click me button */



/* thar */
/* Thar Buttons */

a.animated-button.thar-one {
	/* color: #000; */
  /* color: var(--primary-light); */
	cursor: pointer;
  padding: 15px 0px 15px 0px;
	display: block;
	position: relative;
  border-radius: 10px;
	/* border: 2px solid #F7CA18; */
	/* border: var(--primary-dark); */
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
	/* color: #000 !important; */
	/* color:var(--background);/ */
	/* background-color: transparent; */
	text-shadow: none;
}
a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	/* color: var(--background); */
	/* background: #F7CA18; */
	/* background: var(--primary-dark); */
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
/* thar */
a.animated-button.thar-two {
	/* color: #000; */
  color: --var(--primary-medium);
  border-radius: 10px;
  padding: 15px 0 ;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-three {
	/* color: #000; */
  color: --var(--primary-medium);
  padding: 15px 0;
  border-radius: 10px;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
}
a.animated-button.thar-four {
	/* color: #000; */
  color: --var(--primary-medium);
  border-radius: 10px;
  padding: 15px 0;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
}
a.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
}

/* carousel */
.carousel-image {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 100px
}
.carousel-container {
  position: relative;
  margin: auto;
}

.carousel-item {
  width: 100%;
  height: 100%;
}



/* Caption text */
.carousel-caption-bottom {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.carousel-caption-center {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  bottom: 50%;
  top: 45%;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.carousel-caption-top {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.dots {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.slide-number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.pause-icon {
  position: absolute;
  /* top: 38%; */
  left: 15px;
  bottom: 2px;
  /* right: 50%; */
  opacity: 1;
}

.pause {
  -webkit-animation-name: pause;
  -webkit-animation-duration: 0.5s;
  animation-name: pause;
  animation-duration: 0.5s;
}

.bar {
  width: 100%;
  background-color: #ddd;
  position: absolute;
    bottom: 0px;
    border-radius: 0 0 10px;
}

.progress {
  width: 1%;
  height: 5px;
  background-color: #042baa;
}

.thumbnails {
  display: flex;
  margin-top: 10px;
  align-items: center;
  overflow: scroll;
}
.thumbnails::-webkit-scrollbar {
  display: none;
}
.thumbnail {
  margin: 0 5px;
}
.active-thumbnail {
  border-bottom: rgb(255, 230, 0) solid 5px;
}
@keyframes pause {
  0% {opacity: .2; }
  90% {opacity: 1; }
  
}
@-webkit-keyframes pause {
  0% {opacity: .2; }
  90% {opacity: 1;}
  
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .carousel-caption-bottom, 
  .carousel-caption-center, 
  .carousel-caption-top, 
  .slide-number 
  {
    font-size: 20px !important;
  }
  .dot {
    height: 4px;
    width: 4px;
  }
  .carousel-container{
    max-height: 250px !important;
  }
  .thumbnail {
    max-width: 70px;
  }
  .carousel-caption-bottom{
    bottom: 25px;
  }
}

.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}